name: Ruby

on:
  push:
    branches:
      - master
    tags:
      - "v*"

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '3.3.6'

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby & Rust
        uses: oxidize-rb/actions/setup-ruby-and-rust@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          cargo-cache: true
          rubygems: '3.6.8'
      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libclang-dev clang
      - name: Run tests
        run: bundle exec rake test

  release:
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby & Rust
        uses: oxidize-rb/actions/setup-ruby-and-rust@v1
        with:
          ruby-version: '3.3.6'
          bundler-cache: true
          cargo-cache: true
          rubygems: '3.6.8'
      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libclang-dev clang
      - name: Run tests
        run: bundle exec rake test
      - name: Build gem
        run: gem build lingua_rs_rb.gemspec
      - name: Publish gem to RubyGems
        run: gem push lingua_rs_rb-*.gem -k ${{ secrets.RUBYGEMS_API_KEY }}
